.about {
  scroll-margin-top: 120px;
}

.about-img {
  min-height: 500px;
  background-image: url(../images/about-img.jpg);
}

.about-call-us {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  left: 10%;
  bottom: 10%;
  right: 10%;
  text-align: center;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.about-list i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
}

.about-list li {
  position: relative;
  padding: 0 0 8px 26px;
}
