.play-btn {
    width: 94px;
    height: 94px;
    background: #ce1212;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}