html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Inter';
  color: var(--color-dark);
}

main {
  flex-grow: 1;
}

/* Header */
.header {
  height: 90px;
  border-bottom: 1px solid var(--color-white);
  z-index: 1000;
}
/* Header */

/* Section */
.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header-description {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: 'Amatic SC';
}
/* Section */
