.menu-item {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-item-img {
  width: auto;
  height: 250px;
}

.menu-item-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-title {
  padding: 10px 0;
}

.menu-item-text {
  flex-grow: 1;
  color: var(--color-light-grey);
  margin-bottom: 5px;
}

.menu-item-price {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-danger);
}
