.menu {
  scroll-margin-top: 120px;
}

.menu-link {
  margin: 0 10px;
  padding: 10px 5px;
  transition: 0.3s;
  font-size: 18px;
  color: var(--color-dark);
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 2px solid var(--color-grey);
}

.menu-link.active {
  color: var(--color-danger);
  border-color: var(--color-danger);
}

.menu-link.active:hover {
  color: var(--color-danger);
  border-color: var(--color-danger);
}

.menu-link:hover {
  text-decoration: none;
  color: var(--color-danger);
  border-color: var(--color-light);
}
