.header {
  height: 90px;
  border-bottom: 1px solid var(--color-white);
  z-index: 1000;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar-brand:hover {
  color: var(--color-danger);
}

/* TODO: is would be better to use uniq class like nav-link instead of tag name */
.nav-link {
  padding: 0px 3px;
  font-size: 16px;
}

.navbar-nav {
  gap: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}