/* List of available indents */
:root {
  --indent-1: 5px;
  --indent-2: 10px;
  --indent-3: 20px;
  --indent-4: 30px;
  --indent-5: 40px;
}

.ps-5 {
  padding-left: var(--indent-5) !important;
}

.mb-4 {
  margin-bottom: var(--indent-4) !important;
}

.mb-3 {
  margin-bottom: var(--indent-3) !important;
}

.mb-1 {
  margin-bottom: var(--indent-1) !important;
}

.mt-3 {
  margin-top: var(--indent-3) !important;
}