/* TODO: move to common */
html,
body {
  font-family: 'Inter';
}

/* TODO: move common props to seletor (use basic props only like in BS) */
/* margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit; */
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 28px;
  color: #000;
}

h2 {
  font-size: 64px;
  margin-bottom: 20px;
  color: #37373f;
  font-family: 'Amatic SC';
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

/* TODO: remove uniq classes */
.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: 'Inter';
}

.section-header p {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: 'Amatic SC';
}

.section-header p span {
  color: #ce1212;
}

.about .call-us p {
  font-size: 28px;
  font-weight: 700;
  color: #ce1212;
}
