.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.align-item-center {
    align-items: center;
}

.align-item-lg-start {
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.position-relative {
    position: relative !important;
}

.align-item-end {
    align-items: flex-end;
}

.position-absolute {
    position: absolute !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.with-shadow {
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}